* {box-sizing: border-box;}
.menu-grid
{
    /* display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-content: space-evenly;
    column-gap: 56px;
    row-gap: 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 125px;
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 0;
}
.item
{
    flex: 1;
    gap: 1em;
    margin-left: 20px;
    margin-right: 20px;
}
.item-display
{
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    transition: background-color 0.5s, box-shadow 0.5s;
    position: relative;
    text-align: center;
}
.item-description
{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: "Concert One", sans-serif;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.item-pic
{
    width: 100%;
    transition: opacity 0.5s;
}
.item-pic:hover
{
    opacity: 0.1;
}
.item:hover
{
    background-color: rgb(156, 3, 3);
    width: 300px;
    opacity: 0.8;
    box-shadow: 3px 3px 10px rgb(100, 100, 100);
    .item-description
    {
        opacity: 1;
    }
}
.item-name
{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: "Concert One", sans-serif;  
    color: white;
    background-color: rgb(156, 3, 3);  
    padding-bottom: 4px;
    padding-top: 4px;
}


@media (max-width: 767px)
{
    .menu-grid
    {
        align-content: center;
    }
    .item
    {
        flex-basis: 300px;
    }
    .item-display
    {
        max-width: 300px;
        margin-bottom: 25px;
    }
    .item-pic:hover
    {
        opacity: 1;
    }
}

